<div class="container-fluid">

  <div class="row well">
    <div class="col-md-2 text-left">
      <a class="btn btn-primary btn-block" [routerLink]="['/customer-profile']">Customer Profile</a>
    </div>
    <div class="col-md-9 correctTop">
      Demonstrates:
      <ul class="bullets">
        <li>The customer user profile use case described in the repo README file</li>
        <li>Setting validations on a domain class</li>
        <li>How to extend the vadacl class with the component class</li>
        <li>How to add and override validations</li>
      </ul>
    </div>
  </div>

  <div class="row well">
    <div class="col-md-2 text-left">
      <a class="btn btn-primary btn-block" [routerLink]="['/admin-profile']">Admin Profile</a>
    </div>
    <div class="col-md-9">
      Demonstrates:
      <ul class="bullets">
        <li>The admin user profile use case described in the repo README file</li>
        <li>Validating password and password confirmation fields with vadacl's equalValues validation method</li>
        <li>The reuse of the domain-level validations in a different component</li>
        <li>The use of a sub-FormGroup</li>
      </ul>
    </div>
  </div>

  <div class="row well">
    <div class="col-md-2 text-left">
      <a class="btn btn-primary btn-block" [routerLink]="['/patient']">Patient Form</a>
    </div>
    <div class="col-md-9">
      Demonstrates:
      <ul class="bullets">
        <li>The use of default validation method messages</li>
        <li>Validating a sub-FormGroup within the main form FormGroup</li>
        <li>The withinLength validation method provided by vadacl</li>
        <li>The use of the min, max, and email validators added in Angular 4</li>
      </ul>
    </div>
  </div>

  <div class="row well">
    <div class="col-md-2 text-left">
      <a class="btn btn-primary btn-block" [routerLink]="['/address']">Address Form</a>
    </div>
    <div class="col-md-9">
      Demonstrates:
      <ul class="bullets">
        <li>Setting validations on an object literal</li>
        <li>Using the vadacl class as a service within the component</li>
        <li>Alternate ways of coding the error message display</li>
      </ul>
    </div>
  </div>

  <div class="row well">
    <div class="col-md-2 text-left">
      <a class="btn btn-primary btn-block" [routerLink]="['/excursion-package']">Excursion Form</a>
    </div>
    <div class="col-md-9">
      Demonstrates:
      <ul class="bullets">
        <li>The use of vadacl's withinTrueCount validation method to ensure a valid number of checkboxes are checked</li>
        <li>An example of updating validation parameters on-the-fly</li>
      </ul>
    </div>
  </div>

  <div class="row well">
    <div class="col-md-2 text-left">
      <a class="btn btn-primary btn-block" [routerLink]="['/company-name']">Company Name Form</a>
    </div>
    <div class="col-md-9">
      Demonstrates:
      <ul class="bullets">
        <li>The display of validation errors for a control that is programmatically updated</li>
      </ul>
    </div>
  </div>

  <div class="row well">
    <div class="col-md-2 text-left">
      <a class="btn btn-primary btn-block" [routerLink]="['/company']">Company Form</a>
    </div>
    <div class="col-md-9">
      Demonstrates:
      <ul class="bullets">
        <li>Using a customized/extended set of validation methods and global validation messages</li>
        <li>Declaring domain class validation messages in the global validation messages file</li>
        <li>Extending a domain class in order to provide a separate set of validation messages (switch the domain class in the component code)</li>
        <li>How the global validation messages can be swapped out to provide different messages for different builds (see the repo README file for instructions)</li>
      </ul>
    </div>
  </div>

</div>
