<div class="container">

  <br />
  <h3 class="title is-size-3">Admin Profile Form</h3>

  <div class="box has-background-light">

    <div class="columns">
      <div class="column is-8">
        <form [formGroup]="profileForm" class="hz-label-200">

          <div class="field is-horizontal">
            <div class="field-label">
              <label for="firstName" class="label" [class.has-text-danger]="pageReady && showErrors( profileForm.controls.firstName )">firstName:</label>
            </div>
            <div class="field-body">
              <div class="field ">
                <div class="control">
                  <input id="firstName" type="text" class="input" formControlName="firstName" placeholder="Required. Must be less than 26 characters">

                  <div *ngIf="pageReady && showErrors( profileForm.controls.firstName) " class="help is-danger">
                    <ul>
                      <li *ngFor="let error of getControlErrors( profileForm.controls.firstName )">
                        {{error}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label for="lastName" class="label" [class.has-text-danger]="pageReady && showErrors( profileForm.controls.lastName )">lastName:</label>
            </div>
            <div class="field-body">
              <div class="field ">
                <div class="control">
                  <input id="lastName" type="text" class="input" formControlName="lastName" placeholder="Required. Must be less than 26 characters">

                  <div *ngIf="pageReady && showErrors( profileForm.controls.lastName) " class="help is-danger">
                    <ul>
                      <li *ngFor="let error of getControlErrors( profileForm.controls.lastName )">
                        {{error}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label for="username" class="label" [class.has-text-danger]="pageReady && showErrors( profileForm.controls.username )">Username:</label>
            </div>
            <div class="field-body">
              <div class="field ">
                <div class="control">
                  <input id="username" type="text" class="input" formControlName="username" placeholder="Required. Must be between 3 and 30 characters long">

                  <div *ngIf="pageReady && showErrors( profileForm.controls.username) " class="help is-danger">
                    <ul>
                      <li *ngFor="let error of getControlErrors( profileForm.controls.username )">
                        {{error}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div formGroupName="passwordGroup">

            <div class="field is-horizontal">
              <div class="field-label">
                <label for="password" class="label" [class.has-text-danger]="pageReady && showErrors( profileForm.controls.passwordGroup.controls.password )">Password:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input id="password" type="text" class="input" formControlName="password" placeholder="Required. Must be at least 6 characters long">

                    <div *ngIf="pageReady && showErrors( profileForm.controls.passwordGroup.controls.password) " class="help is-danger">
                      <ul>
                        <li *ngFor="let error of getControlErrors( profileForm.controls.passwordGroup.controls.password )">
                          {{error}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="field is-horizontal">
              <div class="field-label">
                <label for="confirmPassword" class="label" [class.has-text-danger]="pageReady && passwordGroupModified() && profileForm.controls.passwordGroup.hasError( 'equalvalues' )">Confirm Password:</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input id="confirmPassword" type="text" class="input" formControlName="confirmPassword" placeholder="Should equal password">

                    <div *ngIf="pageReady && passwordGroupModified() && profileForm.controls.passwordGroup.hasError( 'equalvalues' )" class="help is-danger">
                      <ul>
                        <li *ngFor="let error of getControlErrors( profileForm.controls.passwordGroup )">
                          {{error}}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label for="age" class="label" [class.has-text-danger]="pageReady && showErrors( profileForm.controls.age )">Age:</label>
            </div>
            <div class="field-body">
              <div class="field ">
                <div class="control">
                  <input id="age" type="text" class="input" formControlName="age" placeholder="Optional. Must be an integer if entered">

                  <div *ngIf="pageReady && showErrors( profileForm.controls.age) " class="help is-danger">
                    <ul>
                      <li *ngFor="let error of getControlErrors( profileForm.controls.age )">
                        {{error}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label">
              <label for="gender" class="label" [class.has-text-danger]="pageReady && showErrors( profileForm.controls.gender )">Gender:</label>
            </div>
            <div class="field-body">
              <div class="field ">
                <div class="control">
                  <input id="gender" type="text" class="input" formControlName="gender" placeholder='Optional. Must be "M" or "F" if entered'>

                  <div *ngIf="pageReady && showErrors( profileForm.controls.gender) " class="help is-danger">
                    <ul>
                      <li *ngFor="let error of getControlErrors( profileForm.controls.gender )">
                        {{error}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary" [disabled]="!profileForm.valid" (click)="submitForm()">Submit</button>
                </div>
                <div class="control">
                  <button class="button" (click)="resetForm()">Reset</button>
                </div>
                <div class="control">
                  <div class="help is-success is-size-5" *ngIf="formSubmitted">Data submitted!</div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>

      <div class="column is-3 content is-size-7">
        <p>In this demo, the validations and validation messages applied to the form for the user profile properties
          come from a variety of sources:</p>
        <ul>
          <li>"firstName": The rules are both set on the userProfile domain class.  The component specifies the required
          validation message, while the maxlength validation message is the default defined in the validation-messages.ts file</li>
          <li>"lastname": The domain class configures both the rules and specific messages for both validations, but the
          component overrides the required validation message.</li>
          <li>"username": The component adds a minLength validation rule and message to the rules and messages defined in
          the domain class.</li>
          <li>The rest of the profile property validation rules and messages are defined in the domain class.</li>
        </ul>
        <p>The "password" and "confirmPassword" form fields are declared as part of a FormGroup (a sub-FormGroup) used
          within the form's FormGroup.  The component uses vadacl's applyCollectionRule() method to apply an equalValues()
          validation to the FormGroup to ensure that both form fields contain an equal value (the required validation
        applied to the "password" property of the domain class ensures that both form inputs cannot be empty).</p>
      </div>

    </div>

    <a [routerLink]="['/home']">Return to Main Page</a>
  </div>
</div>
