
<div class="container">

  <br />
  <h3 class="title is-size-3">Address Form</h3>

  <div class="box has-background-light">
    <div class="columns">
      <div class="column is-7">
        <form [formGroup]="addressForm">
          <div class="field is-horizontal">
            <div class="field-label is-4">
              <label for="street" class="label" [class.has-text-danger]="pageReady && vService.showErrors( addressForm.controls.street)">Street:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input id="street" type="text" class="input" formControlName="street" placeholder="Value is required">

                  <div *ngIf="pageReady && vService.showErrors( addressForm.controls.street) " class="help is-danger">
                    <ul>
                      <li *ngFor="let error of vService.getControlErrors( addressForm.controls.street )">
                        {{error}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-4">
              <label for="city" class="label" [class.has-text-danger]="pageReady && vService.showErrors( addressForm.controls.city )">City:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input id="city" type="text" class="input" formControlName="city" placeholder="Value is required">

                  <div *ngIf="pageReady && vService.showErrors( addressForm.controls.city) " class="help is-danger">
                    <ul>
                      <li *ngFor="let error of vService.getControlErrors( addressForm.controls.city )">
                        {{error}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-4">
              <label for="state" class="label" [class.has-text-danger]="pageReady && vService.showErrors( addressForm.controls.state )">State:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input id="state" type="text" class="input" formControlName="state" placeholder="2-letter state abbreviation required">

                  <div *ngIf="pageReady && vService.showErrors( addressForm.controls.state) " class="help is-danger">
                    <ul>
                      <li *ngIf="addressForm.controls.state.errors.required">
                        {{addressForm.controls.state.errors.required.message}}
                      </li>
                      <li *ngIf="addressForm.controls.state.errors.pattern">
                        {{addressForm.controls.state.errors.pattern.message}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-4">
              <label for="zipCode" class="label" [class.has-text-danger]="pageReady && vService.showErrors( addressForm.controls.zipCode )">Zip code:</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input id="zipCode" type="text" class="input" formControlName="zipCode" placeholder="5-digit zip code required">

                  <div *ngIf="pageReady && vService.showErrors( addressForm.controls.zipCode) " class="help is-danger">
                    <ul>
                      <li *ngIf="addressForm.controls.zipCode.errors.required">
                        Address postal code is required.
                      </li>
                      <li *ngIf="addressForm.controls.zipCode.errors.pattern">
                        Address postal code does not fit the pattern.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal">
            <div class="field-label is-4"></div>
            <div class="field-body is-3">
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary" [disabled]="!addressForm.valid" (click)="submitForm()">Submit</button>
                </div>
                <div class="control">
                  <button class="button" (click)="resetForm()">Reset</button>
                </div>
                <div class="control">
                  <div class="help is-success is-size-5" *ngIf="formSubmitted">Data submitted!</div>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="column is-4 content is-size-7">

        <p>In this demo, the component does not extend vadacl, so vadacl is utilized as a service injected into the
        component.</p>
        <p>Also, the form data is mapped to a simple JavaScript object literal, illustrating how you can apply
          validation rules even when working with ad-hoc objects with no TypeScript definition or interface.</p>
        <p>The validation message for the "Address" is defined via applyRules(), while the validation message for the "City"
        comes from the default message for a required field as defined in the validation-messages.ts file.</p>
        <p>It also shows different approaches to structuring the error messages.  Instead of treating all of error
        messages the same using ngFor, the error messages for the "State" are shown individually via ngIf but still
        output the validation message provided by vadacl.  The error messages for the "Zip code" are also rendered
        individually but the messages are hard-coded.</p>
      </div>
    </div>

    <a [routerLink]="['/home']">Return to Main Page</a>
  </div>

</div>
